body {
  padding: 10px;
}

.App {
  text-align: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  justify-content: center;
  text-align: center;
}

#classDiv {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  display: grid;
  justify-items: center;
  padding: 15px;
  margin: 1rem;
  background-color: darkslategray;
  color: white;
  align-items: center;
}

.App-header {
  background-color: slategray;
  min-height: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.App-link {
  color: #61dafb;
}

a {
  text-align: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
